@import "Variables.scss";

footer {
    align-items: center;
    background-color: $pastel-green;
    display: flex;
    font-size: 1.5em;
    height: 5rem;
    justify-content: center;
    width: 100%;

    .logo {
        margin-left: 5%;
        object-fit: scale-down;
        width: 15%;
    }
}