@import "Variables.scss";

header {
    background-color: $pastel-green;
    color:#989797;
    column-gap: 5rem;
    display: flex;
    font-size: 2em;
    height: 5rem;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1500;

    .logo {
        cursor: pointer;
        margin-left: 5%;
        object-fit: scale-down;
        width: 30%;
    }
    
    ul {
        align-items: center;
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;

        li {
            a {
                color: black;
                font-weight: 2rem;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}