@import "../App.scss";
@import "Variables.scss";

.data-examples {
    margin: auto;
    padding-bottom: 15rem;
    padding-top: 11rem;
    width: 80%;

    table {
        width: 100%;
        
        thead {
            tr {
                td {
                    background: $dark-green;
                    color: white;
                }
            }
        }
        
        tbody {
            tr {
                td {
                    background: white;
                }
            }
        }
        
        td {
            padding: 1rem;
        }
    
        a {
            color: $dark-green;
            font-weight: bold;
        }
    }
}