@import "../App.scss";
@import "Variables.scss";

.loader {
  align-items: center;
  background-color: rgba(168, 168, 168, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3000;
}

.content {
  padding-top: 8rem;
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  width: 100%;
  position: relative;

  .drop-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    row-gap: 1rem;
    width: 90%;

    .last-data {
      align-self: flex-start;
      color: $poly-purple;

      .date {
        font-weight: bold;
      }

      a {
        color: $poly-purple;
        font-weight: bold;
        position: relative;
        text-decoration: none; //$dark-gray;

        &:hover {
          background-color: $pastel-green;
        }

        &::before {
          content: '';
          background: $pastel-green;
          bottom: 0;
          height: 8px;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: -1;
        }
      }
    }
    .drop-box-zone {
      align-items: center;
      border: 3px dashed $poly-purple;
      border-radius: 2rem;
      color: $pastel-green;
      font-weight: bold;
      display: flex;
      height: 20rem;
      justify-content: center;
      position: relative;
      width: 100%;

      &:hover {
        background-color: $dark-white;
      }

      input {
        cursor: pointer;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      p {
        font-size: 2.5em;
        left: auto;
        pointer-events: none;
        position: absolute;
        top: auto;
      }
    }
  }

  .validation-form {
    text-align: center;

    .switch {
      display: inline-block;
      height: 34px;
      position: relative;
      width: 60px;

      input {
        height: 0;
        opacity: 0;
        width: 0;
      }
    }

    .slider {
      background-color: $poly-purple;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
      -webkit-transition: .4s;

      &:before {
        background-color: $poly-purple;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        -webkit-transition: .4s;
        width: 26px;
      }
    }

    input {
      &:checked {
        & + .slider {
          background-color: $pastel-green;

          &::before {
            transform: translateX(26px);
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
          }
        }
      }

      &:not(:checked) {
        & + .slider:before {
          background-color:$pastel-green;
        }
      }

      &:focus {
        & + .slider {
          box-shadow: 0 0 1px $pastel-green;
        }
      }
    }
    
    .slider.round {
      /*✅*/
      border-radius: 34px;

      &:before {
        /*✅*/
        border-radius: 50%;
      }
    }

    .type-title {
      padding: 0 1rem
    }
    
    .validate-button{
      display: inline!important;
    }
  }
}