@import "Variables.scss";

@function getNumHours($step) {
  $i: 1;
  @for $h from 8 through 18 {
    $m: 0;
    @while $m < 60 {
      $i: $i + 1;
      $m: $m + $step;
    }
  }

  @return $i;
}

@mixin generate-grid-css($step) {
  $i: 1;
  @for $h from 8 through 18 {
    $m: 0;
    @while $m < 60 {
      &.start-#{$h}-#{$m} {
        grid-row-start: $i;
      }
      &.end-#{$h}-#{$m} {
        grid-row-end: $i;
      }
      $i: $i + 1;
      $m: $m + $step;
    }
  }
}

$step: 1;

$numHours: getNumHours(1);

$timeHeight: 2px;

.sliders {
  display: flex;
  justify-content: space-evenly;

  .time, .elements {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 1rem;

    span {
      font-size: 1.2rem;
      padding: 0 0.5rem;
    }
  }

  button {
    font-size: 1rem;
    padding: 0.3rem;
  }
}

.options {
  align-items: center;
  column-gap: 10rem;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  padding: 0.5rem;

  input {
    display: none;
  }

  button {
    font-size: 0.8rem;
    margin: 0;
  }
}

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
  margin-top: 0;
  
  .timeline {
    display: grid;
    grid-template-rows: repeat($numHours, $timeHeight);
    margin-top: 5rem;
    padding-right: 1rem;
  }

  .elements {
    display: grid;
    gap: 5px;
    grid-column: 2;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .element {
      &.hidden {
        display: none;
      }
      
      &:nth-child(1n) {
        .events {
          .event {
            background: $event-color-1;
          }
        }
      }

      &:nth-child(2n) {
        .events {
          .event {
            background: $event-color-2;
          }
        }
      }

      &:nth-child(3n) {
        .events {
          .event {
            background: $event-color-3;
          }
        }
      }

      &:nth-child(4n) {
        .events {
          .event {
            background: $event-color-4;
          }
        }
      }

      .name {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }
      
      .events {
        display: grid;
        grid-template-rows: repeat($numHours, $timeHeight);
        border-radius: 5px;
        background: $events-background-color;

        .event {
          border: 1px solid $event-border-color;
          border-radius: 5px;
          margin: 0 0.5rem;
          padding: 0.5rem;

          &.hidden {
            display: none;
          }

          .student {
            font-weight: 600;
            margin: 0;
          }

          .teachers {
            margin: 0;
          }

          .time {
            margin: 0;
          }

          @include generate-grid-css($step);
        }
      }
    }
  }
}