$pastel-green: #C9E4DE;
$dark-green: #00a950;
$dark-gray: #E2CFC4;
$dark-white: #f4f4f4;

$poly-blue: hsl(260, 68%, 89%)/*rgb(186, 227, 245)*/;
$poly-purple: #482a76/*rgb(186, 227, 245)*/;

$events-background-color: #fff1f8;
$event-border-color: #f2d3d8;
$event-color-1: #ffd6d1;
$event-color-2: #fafaa3;
$event-color-3: #e2f8ff;
$event-color-4: #d1ffe6;