@import "styles/Variables.scss";

body {
  background-color: aliceblue!important;
}

body, html {
  margin: 0;
  padding: 0;
  color: $poly-purple;
}

button {
  background-color: $pastel-green;
  border: 1px solid $dark-green;
  border-radius: 2rem!important;
  color: $poly-purple;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  margin: auto;
  margin-bottom: 1.4rem;
  padding: 0.8rem;

  &:hover {
    color: $dark-green!important;
  }
  
  &:active {
    border: 1px solid white!important;
    color: white!important;
  }
}